.site-title {
  // Undo the -1px spacing, to avoid the "rn" munging
  letter-spacing: normal;

  // Add a logo to the header
  .logo {
    height: 36px;
    vertical-align: text-bottom;
  }
}


// Adjust the footer columns so the social links have more space
.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}
